html {
	box-sizing: border-box;
	font-family: 'Amatic SC', cursive;
	line-height: 1.5;
	scroll-behavior: smooth;
}
* {
	margin: 0;
	box-sizing: inherit;
}


.menu-toggle{
	height: 3.5em;
	padding: 5px;
	
}
nav {

	background-color: #F5D0C5;
	text-align: right;
	}	
#menu {
	display: none;
}
.open #menu {
	display: flex;
	flex-direction: column;
	
}
	
.open #menu a {
	color: black;
	text-decoration: none;
	padding: 1em;
	font-size: 1.5em;
	

}
.open:hover a{
	
  background-color: white;

}
#entry {
	background-color: white;
	font-color: #fafafa;
	height: 90vh;
}
#entry img{
	height: 70vh;
}
h1 {
	font-color: #fafafa;
	font-size: 4em;
}
h2{
	font-size: 3em;
}
h3 {
	font-size: 1.5em;
}
#work p{
	font-size: 3em;
	font-weight: 700;
	color: #F5D0C5;
}

.rotated-text {
	transform: rotate(-90deg) translateX(-105%);
	transform-origin: top left;
	display: inline-block;
	position: absolute;
	top: 0;
	left: 0;
}

section {
	position: relative;
	padding-left: 4.5rem;
}
#work {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	background-color: #721817;
	height: 125vh;
	padding-left: 0rem;
	padding-bottom: 1rem;
	text-align: center;
	
}
.img-wrap {
	position :relative;
}
.img-description{
	position: absolute;
  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  visibility: hidden;
  opacity: 0;
}
#work img {
	padding-top: 40px;
	padding-right: 10px;
	height: 17rem;
	width: 17rem;
	margin-left: auto;
	margin-right: auto;
}
.img-wrap:hover .img-description{
	visibility: visible;
  opacity: 1;

}
.img-wrap:hover img{
	
  opacity: 0.5;

}
#about {
	background-color: #F5D0C5;
}
#about p, label, input, li{
	font-size: 1.5em;
}
#about img {
	width: 30rem;
	padding: 1rem;
	opacity: .75;
}
#about p {
	padding: 1rem;
}
#shows {
	height: 50vh;
	background-color: #D69F7E;
}
#contact {
	height: 50vh;
	background-color: #F5D0C5;
}

label {
	display: block;

}
input {
	border: none;
	width: 95%;
}
.note {
	height: 5rem;
}

footer {
	background-color: #3C0000;
	display: flex;
	flex-direction: row;
	padding: 30px;
	justify-content: space-around;
}
footer img{
	height: 2rem;
}



@media (min-width: 992px) {
	#menu {
		display: block;

	}
	nav{
		text-align: right;
	}
	#menu a {
		color: black;
		text-decoration: none;
		padding: 1em;
		padding-top: 1em;
		font-size: 1.5em;

	}
	.menu-toggle {
		display: none;
	}
	h1 {
	font-size: 7em;
	}
	section {
	position: relative;
	padding-left: 5rem;
	}

	#entry {
		height: 95vh;
	}
	#entry img{
		height: 90vh;
	}
	#work {
		flex-direction: row;
		height: 50vh;
		padding: 40px;
	}
	#work img {
		margin-left: auto;
		margin-right: auto;
}
	#about {
		display: flex;
	}
	#about img {
	width: 462.672px;
	height: 448px;
	padding: 1rem;
}
	#about p {
	
}
	h2{
		font-size: 3em;
	}
	h3 {
		font-size: 2em;
	}
	li,label {
		font-size: 1.5em;
	}
	
}



